.typewriter h2 {
  min-height: 50px;
  position: relative; 
}

nav ul {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

nav ul li {
  margin-bottom: 1em; /* Space out the links */
}

nav ul li a {
  text-decoration: none; /* Optional: removes the underline from links */
  color: white; /* Adjust link color as needed */

  /* Add more styles as needed */
}

nav ul li a:hover {
  color: rgb(9, 40, 216);
}

.flexbox-content {
  /*border: 1px solid red;*/
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1%;
}

.Home {
  margin-top: 4%;
  margin-left: 4%;
  height: 88%;
  width: 94%;
  /*border: 1px solid green;*/
}

.flexbox-child1
{
  flex: 1;
  /*background-color: aliceblue;*/
  /*border: 1px solid aliceblue;*/

  min-width: 500px;
  min-height: 350px;
}

.flexbox-child2 {
  flex: 2;
  /*background-color: antiquewhite;*/
  /*border: 1px solid antiquewhite;*/


  min-width: 500px;
  min-height: 350px;
}

.glasscard {
  height: 60%;
  margin-top: 10%;
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16.5px );
  -webkit-backdrop-filter: blur( 16.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  text-align: right;
  margin-left: auto;
  padding-right: 2%;
  padding-top: 2%;
}