
  
  .Navigation {
    margin-left: 5%; /* Adjust as needed */
    margin-top: 3%;
    flex-grow: 0;
  }
  
  .typewriter h2 {
    min-height: 50px;
    position: relative; 
  }
  
  nav ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
  }
  
  nav ul li {
    margin-bottom: 1em; /* Space out the links */
  }
  
  nav ul li a {
    text-decoration: none; /* Optional: removes the underline from links */
    color: white; /* Adjust link color as needed */
  
    /* Add more styles as needed */
  }
  
  nav ul li a:hover {
    color: rgb(9, 40, 216);
  }
  