.App::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px; 
  height: 95%; 
  background: white; 
  margin-bottom: 2%;
  margin-left: 3%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to right, #494949, #32353C); 

}

.App::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 97.5%; 
  height: 2px;
  background: white; 
  margin-top: 3%;
  margin-right: 2%;
}

.Navigation {
  margin-left: 5%;
  margin-top: 3%;
  flex-grow: 0;
}

.typewriter h2 {
  min-height: 50px;
  position: relative; 
}

nav ul {
  list-style: none; 
  padding: 0; 
}

nav ul li {
  margin-bottom: 1em; 
}

nav ul li a {
  text-decoration: none; 
  color: white; 

}

nav ul li a:hover {
  color: rgb(9, 40, 216);
}


@media (max-width: 1100px) {
  .App::before,
  .App::after {
    display: none; /* Hide the lines */
  }
}